<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Vue js
	</title>
	<style type="text/css">
		input{
			background-color: gray;
		}
		table.customTable {
		  width: 100%;
		  background-color: #FFFFFF;
		  border-collapse: collapse;
		  border-width: 2px;
		  border-color: #7EA8F8;
		  border-style: solid;
		  color: #000000;
		}

		table.customTable td, table.customTable th {
		  border-width: 2px;
		  border-color: #7EA8F8;
		  border-style: solid;
		  padding: 5px;
		}

		table.customTable thead {
		  background-color: #7EA8F8;
		}
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		  transition: 0.3s;
		  width: 20%;
		  display: inline-block;
		  margin:10px;
		}

		.card:hover {
		  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

		.container {
		  padding: 2px 16px;
		}
	</style>
</head>
<body>
	
	<div id="main">

		<h2>
			Acceso
		</h2>
		
		<form @submit.prevent="onSubmit" v-if="!access">
			<fieldset>
				<label>
					Correo: 
				</label>
				<input v-model="email" type="text"  placeholder="write Here" required name="">
			</fieldset>

			<fieldset>
				<label>
					Password: 
				</label>
				<input v-model="password"  placeholder="write Here" type="password" required name="">
			</fieldset>

			<button type="submit">
				Acceder
			</button>
		
		</form>

		<div v-if="access">
			
			<h1>
				Bienvenido al sistema
			</h1>

			<div class="card" v-for="movie in movies">

				<!-- <img :src="`${publicPath}my-image.png`">

				v-bind:src="{{ movie.poster_path }}" -->

			  <img :src="`https://image.tmdb.org/t/p/w220_and_h330_face/${movie.poster_path}`"  alt="Avatar" style="width:100%">
			  <div class="container">
			    <h4>
			    	<a :href="`movie.html?id=${movie.id}`">
			    		<b>{{ movie.original_title }}</b>
			    	</a>
			    </h4> 
			    <p>Architect & Engineer</p> 
			  </div>
			</div>

			<!-- 
			<button v-if="!add_new_user" @click="add_new_user=true">
				Agregar
			</button>


			<table class="customTable" v-if="!add_new_user">
				<thead>
					<th> 
						name
					</th>
					<th> 
						username
					</th>
					<th> 
						email
					</th>
					<th> 
						phone
					</th> 
				</thead>
				<tbody>
					<tr v-for="user in users">
						<td>
							{{ user.name }}
						</td>
						<td>
							{{ user.username }}
						</td>
						<td>
							{{ user.email }}
						</td>
						<td>
							{{ user.phone }}
						</td>
					</tr>
				</tbody>
			</table>

			<form @submit.prevent="addNewUser" v-if="add_new_user">
				<fieldset>
					<label>
						Name: 
					</label>
					<input v-model="user_name" type="text"  placeholder="write Here" required name="">
				</fieldset>
				<fieldset>
					<label>
						Username: 
					</label>
					<input v-model="user_username" type="text"  placeholder="write Here" required name="">
				</fieldset>
				<fieldset>
					<label>
						Email: 
					</label>
					<input v-model="user_email" type="text"  placeholder="write Here" required name="">
				</fieldset>
				<fieldset>
					<label>
						Phone: 
					</label>
					<input v-model="user_phone" type="text"  placeholder="write Here" required name="">
				</fieldset>

				<button>
					Save data
				</button>

				<button @click="add_new_user=false">
					Cancel
				</button>
			</form> -->

		</div>

	</div>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>

		//var session = JSON.parse();
		var session = localStorage.getItem("user_log")  
		if (session) { 
			console.log(JSON.parse(session)) 
		}else{
			//localStorage.setItem("user_log", null);
		}
		

	  const { createApp, ref } = Vue 

	  createApp({
	    
	    setup() {

	      
	      let email = ref('jonathansoto') 
	      let password = ref('finhuH7xTAFF8z') 
	      let access = ref(false)
	      let users = ref([])
	      let movies = ref([])
	      let add_new_user = ref(false)

	      let user_name = ref('')
			let user_username = ref('')
			let user_email = ref('')
			let user_phone = ref('')

	      if (session) {
	      	access = ref(true)
	      } 

	      return { 
	        email,
	        password,
	        access,
	        users,
	        add_new_user,
	        user_name,
			user_username,
			user_email,
			user_phone,
			movies
	      }
	    }, 
	    methods: { 
	    	
	    	onSubmit()
	    	{  


	    		const myHeaders = new Headers();
				myHeaders.append("Content-Type", "application/json");
				myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhZjc0YTNmYTEyOWY1MzhhMTFhMjM4NTc4MWYxM2VkYyIsIm5iZiI6MTcyNzE5OTcwOC43Mzg3OCwic3ViIjoiNjMxYTIzNjIxZDFiZjQwMDdlYTExNjEzIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.M8kRfu3BggfcCg5N7cublr4uKEXnFly0f__Vpo2ngLg");

				const raw = JSON.stringify({
				  "username": this.email,
				  "password": this.password,
				  "request_token": ""
				});

				const requestOptions = {
				  method: "POST",
				  headers: myHeaders,
				  body: raw,
				  redirect: "follow"
				};

				fetch("https://api.themoviedb.org/3/authentication/token/validate_with_login", requestOptions)
				  .then((response) => response.json()) 
				  .then((result) => {

				  	if (result.success) {
				  		this.access = true

				    	localStorage.setItem("user_log", JSON.stringify(result));

				    	initialize();
				  	}else{
				  		alert("Verifique su información")
				  	}

				  })
				  .catch((error) => console.error(error));


	    		 
	    	},
	    	
	    	addNewUser(){

	    		let tmp = {
	    			"name":this.user_name,
	    			"username":this.user_username,
	    			"email":this.user_email,
	    			"phone":this.user_phone
	    		}
	    		
				this.users.push(tmp)
				this.user_name = ""
				this.user_username = ""
				this.user_email = ""
				this.user_phone = ""

				this.add_new_user = false;
				
				
	    	},

	    	initialize() {
		      	
		      	if (this.access) { 

				const myHeaders = new Headers();
				myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhZjc0YTNmYTEyOWY1MzhhMTFhMjM4NTc4MWYxM2VkYyIsIm5iZiI6MTcyNzE5OTcwOC43Mzg3OCwic3ViIjoiNjMxYTIzNjIxZDFiZjQwMDdlYTExNjEzIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.M8kRfu3BggfcCg5N7cublr4uKEXnFly0f__Vpo2ngLg");

				const requestOptions = {
				  method: "GET",
				  headers: myHeaders,
				  redirect: "follow"
				};

				fetch("https://api.themoviedb.org/3/discover/movie", requestOptions)
				  .then((response) => response.json())
				  .then((result) => {

				  	this.movies = result.results
				  	console.log(result.results)

				  })
				  .catch((error) => console.error(error));

				 }
		    }
	    },
	    mounted() { 
		    this.initialize();
		}

	  }).mount('#main')
	</script>
</body>
</html>
















